<h2> sign up plz </h2>

<% if flash[:errors]  %>
<% flash[:errors].each do |msg|  %>
  <p style ="color:#ff7f7f"> <%= msg %> </p>
<% end end %>

<form action="<%= users_url %>" method="post">
<%= auth_token %>


<p>Email</p> <input type="text" name="user[email]"></input><br>
<p>Password</p> <input type="password" name="user[password]"></input><br><br>

<input type="submit" value="do it">

</form>
