
<% if band.errors.full_messages  %>
<% band.errors.full_messages.each do |msg|  %>
  <p style ="color:#ff7f7f"> <%= msg %> </p>
<% end end %>
<form action="<%= band.persisted? ? band_url(band.id) : bands_url %>" method="post">
  <% if band.persisted? %>
    <input type="hidden" name="_method" value="PATCH">
  <% end %>
<%= auth_token %>

<label for="name">Band Name</label>
 <input id = "name" type="text" name="band[name]"
        value = "<%= band.persisted? ? band.name : "" %>">  <br><br>


<input type="submit" value="Submit">
